.header-container {
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.established-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.date-text {
  grid-column-start: 2;
  text-align: end;
}
