.container {
  margin: 0 auto;
  padding: 15px;
  width: 100%;
}

.motto-text {
  font-size: 0.75rem;
}

@media screen and (min-width: 679px) {
  .container {
    width: 75%;
    border: solid 1px grey;
  }
}
